<div class="project-container">
<div class="card-header col-md-12 text-center">
    <h2>
        location
    </h2>
</div>

</div>


{{#each locations as |location|}}
  <div class="project col-md-4">
    <p>
      {{location.id}}.
      {{location.name}}.
      {{location.address}}.
      {{location.phone}}.
      {{location.url}}.
      {{location.user_id}}
    </p>
  </div>
  {{/each}}


<!-- Include Handlebars library -->
<script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>

<!-- Your script to render the template -->
{{!-- <script>
    //document.addEventListener('DOMContentLoaded', function () {
        // Sample data
        var data = {
            title: 'My Homepage',
            description: 'Welcome to my awesome homepage!',
            features: ['Feature 1', 'Feature 2', 'Feature 3']
        };

        // Get the template source
       // var source = document.getElementById('home-template').innerHTML;

        // Compile the template
        var template = Handlebars.compile(source);

        // Insert the rendered HTML into the DOM
       // document.body.innerHTML = template(data);
    });
</script> --}}

</body>
</html>
