        <div class="locations-container">
        {{#each locations}}
        <div class="location">
            <h2>{{name}}</h2>
            <p><strong>Address:</strong> {{address}}</p>

                <p><strong>phone:</strong> {{phone}}</p>
            {{/if}}
            {{#if phone}}
                <p><strong>url:</strong> {{url}}</p>
            {{/if}}
               <p><strong>user_id:</strong> {{user_id}}</p>
            {{/if}}
            
        </div>
        {{/each}}
        
    

    <!-- Include Handlebars library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

    <!-- Your custom JavaScript code, if needed -->
</body>
</html>


