<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
</head>
<body>

    <header class="ResultsR1">
        <h1>{{ name }}</h1>
        
    </header>
    <section class="ResultsR2">
        <br>
        <p>{{formatPhoneNumber phone }}</p>
        <p>{{ address }}</p>
        <p>{{ url }}</p>
        <img src={{ image_url }} alt="{{ name }}"
        height="400">
    </section>
    
    {{!-- <script>
        const apiKey = 
        '5tkVDO8SKlJuurEYCWCave8z96kny6KhwC0AJ_NtIcb8zc_Vx2rZmO7l9X5q5aeYaKUiLvVftUYxk6NHVAbIDsjFr04yewipKMAnKrClMvxq2WlEWCsD7RRBRYzBZXYx';
        const num = {{ phone }};
        const options = {
            method: 'GET',
            headers: {
                Authorization: `Bearer ${apiKey}`
            } 
        };
        
        fetch(`https://api.yelp.com/v3/businesses/search/phone?phone=%2B${num}`, options)
        .then(res => res.json())
        .then(json => console.log(json))
        .catch(err => console.error('error:' + err));
        
    </script> --}}

<!-- Include Handlebars library -->
<script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
</body>